.DS_Store
.env*
node_modules

# turbo
.turbo

# React Router
.react-router
build
dist

# Source files for the docs build integration
!packages/docs/src/build/
!packages/docs/src/build/**

# typescript
*.tsbuildinfo

# misc
*.pem

# debug
npm-debug.log*
pnpm-debug.log*
